.wrapper {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.intro {
  background-image: url("../assets/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contacts {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.section {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.video iframe {
  width: 100% !important;
  min-width: none;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* .about h2 {

}


.about p {

}


.about ul {

} */

.aboutTex {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.video {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  max-width: 100%;
}

.photos img {
  width: 90%;
  /* height: 100%; */
  object-fit: cover;
}

@media (max-width: 450px) {
  .intro {
    font-size: 22px;
    text-align: center;
  }

  .section {
    padding: 12px;
    gap: 20px;
  }

  .about {
    gap: 20px;
  }

  .section h2 {
    font-size: 28px;
  }

  .section p,
  .section li {
    font-size: 18px;
  }

  .contacts {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
