.wrapper {
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.intro {
  background-image: url("../assets/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contacts {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.section {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* .about h2 {

}


.about p {

}


.about ul {

} */

.aboutTex {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.video {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 450px) {
  .intro {
    font-size: 22px;
    text-align: center;
  }
}
