.header {
    justify-content: space-between;
    display: flex;
    align-items: center;

    background-color: white;
    width: 100%;
    padding: 32px 32px;
    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, calc(-100% - 24px));
    transition: 0.4s transform ease-in-out;
    -webkit-box-shadow: -3px 9px 8px -2px rgba(34, 60, 80, 0.35);
    -moz-box-shadow: -3px 9px 8px -2px rgba(34, 60, 80, 0.35);
    box-shadow: -3px 9px 8px -2px rgba(34, 60, 80, 0.35);
}

.isVisible {
    transform: translate(-50%, 0);
}


.navigation {
    font-size: 20px;
    display: flex;
    gap: 12px;

}

.logo {
    font-size: 30px;
}